{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
</head>
    <h1>
        Welcome
    </h1>
<body>
    <ul>
        <li>
            Menu
        </li>

        <li>
            Home
        </li>
        <li>
            Info
        </li>
    </ul>
    <ul>
    {% for user in users %}
        <li class="highlighted">
            {{ user.username }}
        </li>
    {% endfor %}
    </ul>
</body>
</html>