ul, li,h1,h2,p {
    margin: 0;
    padding: 0;
    display: block;
    list-style-type: none;
}

.todo-list {

}

.todo-list-item {
    border: 1px solid green;
    padding: 10px 0;
}

.root {
    text-align: center;
}

.todo-description {
    margin-top: 15px;
}

.todo-title {

}

.red-text {
    color: red;
}

.green-text {
    color: green;
}

.change-status-button {
    position: absolute;
    border-radius: 5px;
    background-color: wheat;
    left: 350px;
}